* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    background: #AED6F1 ;
    width: 100%;
    text-align: center;
    clear: both;
    content:'';
    display: table;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu {
    width: 1000px;
    margin: 100 center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 300px;
    height: 170px;
    float: center;
    padding: 12px;
}
nav {
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li {
    list-style: none;
    margin-left: 150px;
    padding: 12px 0;
    float: left;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: #613cbb;
    font-weight: bold;
}
nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: black;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.5s;
}
nav ul li a:hover::before {
    width: 100%;
}

/*Footer*/
.footer{
    position: center;
    background-color: #AED6F1 ;
    line-height: normal;
    display: block;
    margin: auto;
    text-align: center;
    color: #613cbb;
}

.title{
    text-decoration: dashed;
    color: #613cbb;
    text-align: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/*Table*/
.table{
    padding: 10%;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
